*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Improved focus*/
*:focus {
  outline: red solid 2px;
}


/*Rotating REACT Logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  padding-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Header with Flexbox*/
.the-header {
  display:flex;
  justify-content: center;
  background-color: #ff844f;
  height: 70px;
}

h1 {
  margin: 10px;
}

h2 {
  font-size: 1.7em;
}

/*Restaurant list items*/
.name-list {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.name-list:hover {
    color: #ff844f;
    cursor: pointer;
    background-color: black;
}
.name-list:active {
  color: red;
  font-weight: bold;
}
/*End Name*/

/* Delete any kind of Formatting for the buttons inside the list to have them clear*/
.li-button {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;

}

@media screen and (max-width: 450px){
  .li-button {
    font-size:13px;
  }
}

@media screen and (max-width: 600px){
  .filterPlaceholderText {
    width: 90%;
  }
}
