*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: red solid 3px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  padding-top: 10px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.the-header {
  display:flex;
  justify-content: center;

  background-color: #ff844f;
  height: 70px;
}

h1 {
  margin: 10px;
}
h2 {
  font-size: 1.7em;
}
.name-list:hover {
    color: #ff844f;
    cursor: pointer;
    background-color: black;
}
.name-list:active {
  color: red;
  font-weight: bold;
}
